<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <header>
    <div class="navbar">
      <div class="nav-name">Kaleb Ben Naveed</div>
      <nav class="nav-links">
        <a href="/">About</a>
        <a href="/publications.html">Publications</a>
        <a href="/cv.pdf">CV</a>
      </nav>
    </div>
  </header>
  <main class="container">
    {{ content }}
  </main>
</body>
</html>
